@page "/"
@using MauiLaConcordia.Shared.Pages.Auth
@inject NavigationManager UriHelpers
<AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        <h1>No Autorizado</h1>
       
    </NotAuthorized>
</AuthorizeView>
@code {
}