<Router AppAssembly="typeof(Routes).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)">
           <Authorizing>
             <text>Autorizando</text>
           </Authorizing>

        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
     <NotFound>
         <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
